<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>投诉管理</title>
<link rel="icon" href="../static/images/favicon.ico" type="image/ico">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/materialdesignicons.min.css" rel="stylesheet">
<link href="js/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="js/jquery-confirm/jquery-confirm.min.css" rel="stylesheet">
<link href="css/style.min.css" rel="stylesheet">
<link rel="stylesheet" href="/layui/css/layui.css">
<link href="css/materialdesignicons.min.css" rel="stylesheet">
</head>
  
<body>
<div class="container-fluid p-t-15" >
  
  <div class="row">
    
    <div class="col-lg-12">
      <div class="card">
        <header class="card-header"><div class="card-title">投诉表单</div></header>
        <div class="card-body">
          <div id="toolbar" class="toolbar-btn-action">
            <button id="btn_add" type="button" class="btn btn-primary m-r-5" data-toggle="modal" data-target="#ModalChange">
              <span class="mdi mdi-plus" aria-hidden="true">新增</span>
            </button>
          </div>

          <!--新增-->
          <div class="modal fade" id="ModalChange" tabindex="-1" role="dialog" aria-labelledby="exampleModalChangeLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title" >新增投诉</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#ModalChange">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="post" th:action="@{/complain/add}"><!--th:action="@{/consumer/update}"-->
                    <div class="form-row" >
                      <div class="form-group col-md-6" style="margin-top: 10px;margin-bottom: 0px;">
                        <label>投诉用户</label>
                        <input name="complaintUser" type="text" class="form-control" placeholder="请输入投诉用户">
                        <label  style="margin-top: 10px">被投诉商家</label>
                        <input name="complaintedSeller" type="text" class="form-control" placeholder="请输入被投诉商家">
                      </div>
                    </div>
                    <div class="form-row">
                      <label  style="margin-top: 10px">投诉原因</label>
                      <input name="complaintReason"type="text" class="form-control"  placeholder="填写投诉原因">
                    </div>

                    <div class="form-row"style="margin-top:20px">
                      <div class="col ">
                        <label>投诉进度</label>
                        <select name="complaintProcess"  class="form-control" autocomplete="off">
                          <option selected>反馈成功</option>
                          <option>等待审核</option>
                        </select>
                      </div>
                      <div class="col">
                        <label>投诉结果</label>
                        <select name="complaintResult"  class="form-control" autocomplete="off">
                          <option>采纳</option>
                          <option>拒绝</option>
                        </select>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                      <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!--编辑-->
          <div class="modal fade" id="ModalChange1" tabindex="-1" role="dialog" aria-labelledby="exampleModalChangeLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title" >编辑投诉</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#ModalChange1">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="post" th:action="@{/complain/update}"> <!--th:action="@{/consumer/update}"-->
                    <div class="form-row" >
                      <div class="form-group col-md-6" style="margin-top: 10px;margin-bottom: 0px;">
                        <label>投诉ID</label>
                        <input id="id" name="complaintId" type="text" class="form-control" placeholder="投诉id" readonly unselectable="on">
                        <label>投诉用户</label>
                        <input id="complainer" name="complaintUser" type="text" class="form-control" placeholder="投诉用户" readonly unselectable="on">
                        <label  style="margin-top: 10px">被投诉商家</label>
                        <input id="complainee" name="complaintedSeller" type="text" class="form-control" placeholder="被投诉商家" readonly unselectable="on">
                      </div>
                    </div>
                    <div class="form-row">
                      <label  style="margin-top: 10px">投诉原因</label>
                      <input id="reason" name="complaintReason"type="text" class="form-control"  placeholder="填写投诉原因">
                    </div>

                    <div class="form-row"style="margin-top:20px">
                      <div class="col ">
                        <label>投诉进度</label>
                        <select id="process" name="complaintProcess"  class="form-control" autocomplete="off">
                          <option selected>反馈成功</option>
                          <option>等待审核</option>
                        </select>
                      </div>
                      <div class="col">
                        <label>投诉结果</label>
                        <select id="result" name="complaintResult"  class="form-control" autocomplete="off">
                          <option  selected>采纳</option>
                          <option >拒绝</option>
                        </select>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                      <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <table id="tb_departments">
            <tr th:each="complain:${comlists}">
              <td></td><!--是否选中-->
              <td th:class="id" th:text="${complain.complaintId}">0</td>
              <td th:class="complainer" th:text="${complain.complaintUser}">投诉人</td>
              <td th:class="complainee" th:text="${complain.complaintedSeller}">xx商家</td>
              <td th:class="reason" th:text="${complain.complaintReason}">商品质量差</td>
              <td th:class="complainTime" th:text="${#dates.format(complain.complaintTime,'yyyy-MM-dd')}">2021-02-18</td>
              <td th:class="process" th:text="${complain.complaintProcess}">未处理</td>
              <td th:class="lastTime" th:text="${#dates.format(complain.lastupdateTime,'yyyy-MM-dd')}">2021-02-18</td>
              <td th:class="result" th:text="${complain.complaintResult}">未采纳</td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="js/bootstrap-table/locale/bootstrap-table-zh-CN.min-complain.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
<script type="text/javascript">
    $('#ModalChange1').on('show.bs.modal', function (event) {

        var button = $(event.relatedTarget);
        var recipient = button.data('whatever');
        var modal = $(this);
        /*获取当行的数据*/
        var id = button.parent("td").parent("tr").find(".id").text();
        var complainer = button.parent("td").parent("tr").find(".complainer").text();
        var complainee = button.parent("td").parent("tr").find(".complainee").text();
        var reason = button.parent("td").parent("tr").find(".reason").text();
        var complainTime = button.parent("td").parent("tr").find(".complainTime").text();
        var process = button.parent("td").parent("tr").find(".process").text();
        var lastTime = button.parent("td").parent("tr").find(".lastTime").text();
        var result = button.parent("td").parent("tr").find(".result").text();

        /*表格填充数据*/
        modal.find('.modal-title').text('编辑商家信息');
        modal.find('.modal-body #id').val(id);
        modal.find('.modal-body #complainer').val(complainer);
        modal.find('.modal-body #complainee').val(complainee);
        modal.find('.modal-body #reason').val(reason);
        modal.find('.modal-body #complainTime').val(complainTime);
        modal.find('.modal-body #process').val(process);
        modal.find('.modal-body #lastTime').val(lastTime);
        modal.find('.modal-body #result').val(result);

        $("#process").find("option[text=process]").attr("selected",true);
        $("#result").find("option[text=result]").attr("selected",true);



    })
$('#tb_departments').bootstrapTable({
    classes: 'table table-bordered table-hover table-striped',
   // url: 'http://www.bixiaguangnian.com/index/test/getExampleJson',
    method: 'get',
    dataType : 'jsonp',        // 因为本示例中是跨域的调用,所以涉及到ajax都采用jsonp,
    uniqueId: 'id',
    idField: 'id',             // 每行的唯一标识字段
    toolbar: '#toolbar',       // 工具按钮容器
    clickToSelect: false,     // 是否启用点击选中行
    showColumns: true,         // 是否显示所有的列
    //showRefresh: true,         // 是否显示刷新按钮
    
    showToggle: true,        // 是否显示详细视图和列表视图的切换按钮(clickToSelect同时设置为true时点击会报错)
  
    pagination: true,                    // 是否显示分页
    sortOrder: "asc",                    // 排序方式
    queryParams: function(params) {
        var temp = {
            limit: params.limit,         // 每页数据量
            offset: params.offset,       // sql语句起始索引
            page: (params.offset / params.limit) + 1,
            sort: params.sort,           // 排序的列名
            sortOrder: params.order      // 排序方式'asc' 'desc'
        };
        return temp;
    },                                   // 传递参数
    sidePagination: "client",            // 分页方式：client客户端分页，server服务端分页
    pageNumber: 1,                       // 初始化加载第一页，默认第一页
    pageSize: 10,                        // 每页的记录行数
    pageList: [10, 25, 50, 100],         // 可供选择的每页的行数
    search: true,                      // 是否显示表格搜索，此搜索是客户端搜索
    
    //showExport: true,        // 是否显示导出按钮, 导出功能需要导出插件支持(tableexport.min.js)
    //exportDataType: "basic", // 导出数据类型, 'basic':当前页, 'all':所有数据, 'selected':选中的数据
  
    columns: [{
        field: 'example',
        checkbox: true    // 是否显示复选框
    }, {
        field: 'complain_id',
        title: '投诉ID',
        sortable: true    // 是否排序
    }, {
        field: 'complain_user',
        title: '投诉用户'
    }, {
        field: 'complain_seller',
        title: '被投诉商家',
    }, {
        field: 'complain_reason',
        title: '投诉原因'
    }, {
        field: 'complain_time',
        title: '投诉时间'
    }, {
        field: 'complain_process',
        title: '投诉进度',
        formatter:function(value, row, index){
            var value="";
            if (row.complain_process == '反馈成功') {
                value = '<span class="badge badge-success">反馈成功</span>';
            } else if(row.complain_process == '等待审核') {
                value = '<span class="badge badge-danger">等待审核</span>';
            }else {
                value = row.pType ;
            }
            return value;
        }
    },{
        field: 'lastupdate_time',
        title: '最后处理时间'
    },  {
        field: 'complain_result',
        title: '投诉结果',
        formatter:function(value, row, index){
            var value="";
            if (row.complain_result == '采纳') {
                value = '<span class="badge badge-success">采纳</span>';
            } else if(row.complain_result == '拒绝') {
                value = '<span class="badge badge-danger">拒绝</span>';
            }else {
                value = row.pType ;
            }
            return value;
        }
    },{
        field: 'operate',
        title: '操作',
        formatter: btnGroup,  // 自定义方法
        events: {
            'click .edit-btn': function (event, value, row, index) {
                editUser(row);
            },
            'click .del-btn': function (event, value, row, index) {
                delUser(row);
            }
        }
    }],
    onLoadSuccess: function(data){
        $("[data-toggle='tooltip']").tooltip();
    }
});

// 操作按钮
function btnGroup ()
{
    let html =
        '<a href="#!" class="btn btn-xs btn-default m-r-5 edit-btn" title="编辑" data-toggle="modal" data-target="#ModalChange1"><i class="mdi mdi-pencil"></i></a>' +
        '<a href="#!" class="btn btn-xs btn-default del-btn" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>';
    return html;
}

// 操作方法 - 编辑
function editUser()
{
}
// 操作方法 - 删除
function delUser(row)
{
    $.confirm({
        title: '确认删除投诉',
        content: '是否确认删除？计时结束将自动取消。',
        autoClose: 'cancelAction|10000',
        escapeKey: 'cancelAction',
        buttons: {
            confirm: {
                btnClass: 'btn-red',
                text: '确认删除投诉ID：'+row.complain_id,
                action: function () {
                    $.ajax({
                        url:"/complain/move/"+row.complain_id,
                        type: 'get',
                        success:function () {  //data会接受服务器响应的值
                            console.info("请求成功!");
                            location.reload(true);
                        } //响应成功后的回掉函数
                    });
                    $.alert('你删除了投诉'+row.complain_id);
                }
            },
            cancelAction: {
                text: '取消',
                action: function () {
                    $.alert('投诉'+row.complain_id+'刚刚得救了！');

                }
            }
        }
    })
}
</script>
<script type="text/javascript" src="/layui/layui.js"></script>
<script>
    //配置插件目录
    layui.config({
        base: './mods/'
        , version: '1.0'
    });
    //一般直接写在一个js文件中
    layui.use(['layer', 'form', 'layarea'], function () {
        var layer = layui.layer
            , form = layui.form
            , layarea = layui.layarea;

        let obj1 = layarea.render({
            elem: '#area-picker',
            change: function (res) {
                //选择结果
                console.log(res);
            }
        });
        layarea.render({
            elem: '#area-picker2',
            change: function (res) {
                //选择结果
                console.log(res);
            }
        });
        layarea.render({
            elem: '#area-picker3',
            change: function (res) {
                //选择结果
                console.log(res);
            }
        });
        layarea.render({
            elem: '#area-picker4',
            data: {
                province: "广东省",
                city: "深圳市",
                county: "龙岗区",
            },
            change: function (res) {
                //选择结果
                console.log(res);
            }
        });
        /*
            //第一个重载
            setTimeout(() => {

                obj1.reload({
                    data: {
                        province: province,
                        city: city,
                        county: county,
                    }
                });
                //console.log(ssss);
                province="";
                city="";
                county="";
                ssss="";
               //console.log(ssss);
                }, 3000);*/
    });
</script>
</body>
</html>