<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:float="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>表格插件 - 光年(Light Year Admin V4)后台管理系统模板</title>
<link rel="icon" href="../static/images/favicon.ico" type="image/ico">

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/materialdesignicons.min.css" rel="stylesheet">
<link href="js/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="js/jquery-confirm/jquery-confirm.min.css" rel="stylesheet">
<link href="css/style.min.css" rel="stylesheet">
<link rel="stylesheet" href="/layui/css/layui.css">
<link href="css/materialdesignicons.min.css" rel="stylesheet">

</head>
  
<body>
<div class="container-fluid p-t-15" >
  
  <div class="row">
    
    <div class="col-lg-12">
      <div class="card">
        <header class="card-header"><div class="card-title">客户表单</div></header>
        <div class="card-body">

          <div id="toolbar" class="toolbar-btn-action">
            <button id="btn_add" type="button" class="btn btn-primary m-r-5" data-toggle="modal" data-target="#ModalChange">
              <span class="mdi mdi-plus" aria-hidden="true">新增</span>
            </button>
          </div>
          <!--新增-->
          <div class="modal fade" id="ModalChange" tabindex="-1" role="dialog" aria-labelledby="exampleModalChangeLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title" >新增客户</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-target="#ModalChange">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="post" th:action="@{/consumer/add}" ><!--th:action="@{/consumer/update}"-->
                    <div class="form-row"style="width:240px">
                      <div class="col" >
                        <label for="username">用户名</label>
                        <input name="username" type="text" class="form-control" placeholder="用户名" >
                      </div>
                    </div>
                    <div class="form-row" >
                      <div class="form-group col-md-6" style="margin-top: 10px;margin-bottom: 10px;">
                        <label for="nickName">昵称</label>
                        <input name="nickName" type="text" class="form-control" placeholder="请输入昵称">
                        <label for="telephone" style="margin-top: 10px">手机</label>
                        <input name="telephone" type="text" class="form-control"  placeholder="请输入手机">
                      </div>
                    </div>

                    <p class="mt-3">性别</p>
                    <div class="custom-control custom-radio custom-control-inline" style="margin-top: 10px">
                      <input type="radio" id="sex11" name="sex" class="custom-control-input" value="男">
                      <label class="custom-control-label" for="sex11">男</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="sex22" name="sex" class="custom-control-input" value="女">
                      <label class="custom-control-label" for="sex22">女</label>
                    </div>

                    <div class="layui-form">
                      <label for="area-picker">地址</label>
                      <div class="layui-form-item"id="area-picker2">
                        <div class="layui-input-inline" style="width: 100px;">
                          <select name="province" class="province-selector"  >
                            <option value="" >--选择省--</option>
                          </select>
                        </div>
                        <div class="layui-input-inline" style="width: 100px;">
                          <select name="city" class="city-selector">
                            <option value="">--选择市--</option>
                          </select>
                        </div>
                        <div class="layui-input-inline" style="width: 100px;">
                          <select name="county" class="county-selector" >
                            <option value="">--选择区--</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <input name="detailaddr"type="text" class="form-control"  placeholder="填写详细地址" style="margin-top: 10px;">


                    <div class="form-row"style="margin-top:20px">
                      <div class="col ">
                        <label for="isDelete">注销状态</label>
                        <select name="isDelete"  class="form-control" autocomplete="off">
                          <option value="0" selected="selected">正常</option>
                          <option value="1">注销</option>
                        </select>
                      </div>
                      <div class="col">
                        <label for="locked">锁定状态</label>
                        <select name="locked"  class="form-control" autocomplete="off">
                          <option value="0" selected>未锁定</option>
                          <option value="1">锁定</option>
                        </select>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                      <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>


          <!-- 表单-->
          <table id="tb_departments">
            <tr th:each="customer:${clists}">
              <td></td><!--是否选中-->
              <td th:class="cid" th:text="${customer.cid}">0</td>
              <td th:class="username" th:text="${customer.username}">user_0</td>
              <td th:class="nickName" th:text="${customer.nickName}">范例</td>
              <td th:class="sex" th:text="${customer.sex}">男</td>
              <td th:class="address" th:text="${customer.address}">xx省xx市</td>
              <td th:class="telephone" th:text="${customer.telephone}">15308184902</td>
              <td th:class="createTime" th:text="${#dates.format(customer.createTime,'yyyy-MM-dd')}">2021-02-18</td>
              <td th:class="isDelete" th:text="${customer.isDelete}">0</td>
              <td th:class="locked" th:text="${customer.locked}">1</td>
              <td></td>
              </tr>
            </table>
          <!--编辑-->
          <div class="modal fade" id="exampleModalChange" tabindex="-1" role="dialog" aria-labelledby="exampleModalChangeLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title" id="exampleModalChangeTitle">新增客户</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                        <form method="post" th:action="@{/consumer/update}">
                          <div class="form-row">
                            <div class="col">
                              <label for="cid">用户id</label>
                              <input name="cid" type="text" class="form-control" placeholder="id" readonly unselectable="on" id="cid">
                            </div>
                            <div class="col">
                              <label for="username">用户名</label>
                              <input name="username" type="text" class="form-control" placeholder="用户名" readonly unselectable="on" id="username">
                            </div>
                          </div>
                          <div class="form-row" >
                            <div class="form-group col-md-6" style="margin-top: 10px;margin-bottom: 10px;">
                              <label for="nickName">昵称</label>
                              <input name="nickName" type="text" class="form-control" id="nickName" placeholder="请输入昵称">

                              <label for="telephone" style="margin-top: 10px">手机</label>
                              <input name="telephone" type="text" class="form-control" id="telephone" placeholder="请输入手机">
                            </div>
                          </div>

                          <p class="mt-3">性别</p>
                          <div class="custom-control custom-radio custom-control-inline" style="margin-top: 10px">
                            <input type="radio"  name="sex" class="custom-control-input"id="customRadioInline1" checked value="男">
                            <label class="custom-control-label" for="customRadioInline1">男</label>
                          </div>
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio"  name="sex" class="custom-control-input" id="customRadioInline2" value="女">
                            <label class="custom-control-label" for="customRadioInline2">女</label>
                          </div>

                          <div class="form-row" >
                            <div class="form-group col-md-6" style="margin-top: 10px">
                              <label for="oldAddress">原地址</label>
                              <input name="orignaddr" type="text" class="form-control" id="oldAddress" placeholder="原地址" style="width:400px;" readonly unselectable="on">
                            </div>
                          </div>
                          <div class="layui-form">
                            <label for="area-picker">新地址（不做修改则为原地址）</label>
                            <div class="layui-form-item" id="area-picker">
                              <div class="layui-input-inline" style="width: 100px;">
                                <select name="province" class="province-selector"  >
                                  <option value="">--选择省--</option>
                                </select>
                              </div>
                              <div class="layui-input-inline" style="width: 100px;">
                                <select name="city" class="city-selector">
                                  <option value="">--选择市--</option>
                                </select>
                              </div>
                              <div class="layui-input-inline" style="width: 100px;">
                                <select name="county" class="county-selector" >
                                  <option value="">--选择区--</option>
                                </select>
                              </div>
                              </div>
                          </div>
                            <input name="detailaddr"type="text" class="form-control" id="address" placeholder="填写详细地址" style="margin-top: 10px;">


                          <div class="form-row"style="margin-top:20px">
                            <div class="col ">
                            <label for="isDelete">注销状态</label>
                            <select name="isDelete" id="isDelete" class="form-control" autocomplete="off">
                              <option value="0" selected="selected">正常</option>
                              <option value="1">注销</option>
                            </select>
                          </div>
                          <div class="col">
                            <label for="locked">锁定状态</label>
                            <select name="locked" id="locked" class="form-control" autocomplete="off">
                              <option value="0" selected>未锁定</option>
                              <option value="1">锁定</option>
                            </select>
                          </div>
                          </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                  <button type="submit" class="btn btn-primary">提交</button>
                </div>
               </form>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="js/bootstrap-table/locale/bootstrap-table-zh-CN-consumer.min.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>


<script type="text/javascript">

    $('#exampleModalChange').on('show.bs.modal', function (event) {

        var button = $(event.relatedTarget);
        var recipient = button.data('whatever');
        var modal = $(this);
        /*获取当行的数据*/
        var cid = button.parent("td").parent("tr").find(".cid").text();
        var username = button.parent("td").parent("tr").find(".username").text();
        var nickName = button.parent("td").parent("tr").find(".nickName").text();
        var oldAddress = button.parent("td").parent("tr").find(".address").text();
        var telephone = button.parent("td").parent("tr").find(".telephone").text();
        var createTime = button.parent("td").parent("tr").find(".createTime").text();
        var isDelete = button.parent("td").parent("tr").find(".isDelete").text();
        var locked = button.parent("td").parent("tr").find(".locked").text();
        var sex = button.parent("td").parent("tr").find(".sex").text();


        if(isDelete=="正常"){isDelete=0;}
        else{isDelete=1;}
        if(locked=="未锁定"){locked=0;}
        else{locked=1;}



        modal.find('.modal-title').text('编辑客户信息');

        modal.find('.modal-body #cid').val(cid);
        modal.find('.modal-body #username').val(username);
        modal.find('.modal-body #nickName').val(nickName);
        modal.find('.modal-body #telephone').val(telephone);
        modal.find('.modal-body #oldAddress').val(oldAddress);
        //modal.find('.modal-body #isDelete').val(isDelete);
        //modal.find('.modal-body #locked').val(locked);
        $("#isDelete").val(isDelete);
        $("#locked").val(locked);
        if(sex=="女"){
            $("#sex2").prop("checked","checked");}
        else
        { $("#sex1").prop("checked","checked");}

    })
$('#tb_departments').bootstrapTable({
    classes: 'table table-bordered table-hover table-striped',
   // url: 'http://www.bixiaguangnian.com/index/test/getExampleJson',
    method: 'get',
    dataType : 'jsonp',        // 因为本示例中是跨域的调用,所以涉及到ajax都采用jsonp,
    uniqueId: 'id',
    idField: 'id',             // 每行的唯一标识字段
    toolbar: '#toolbar',       // 工具按钮容器
    clickToSelect: false,     // 是否启用点击选中行
    showColumns: true,         // 是否显示所有的列
    //showRefresh: true,         // 是否显示刷新按钮
    
    showToggle: true,        // 是否显示详细视图和列表视图的切换按钮(clickToSelect同时设置为true时点击会报错)
  
    pagination: true,                    // 是否显示分页
    sortOrder: "asc",                    // 排序方式
    queryParams: function(params) {
        var temp = {
            limit: params.limit,         // 每页数据量
            offset: params.offset,       // sql语句起始索引
            page: (params.offset / params.limit) + 1,
            sort: params.sort,           // 排序的列名
            sortOrder: params.order      // 排序方式'asc' 'desc'
        };
        return temp;
    },                                   // 传递参数
    sidePagination: "client",            // 分页方式：client客户端分页，server服务端分页
    pageNumber: 1,                       // 初始化加载第一页，默认第一页
    pageSize: 10,                        // 每页的记录行数
    pageList: [10, 25, 50, 100],         // 可供选择的每页的行数
    search: true,                      // 是否显示表格搜索，此搜索是客户端搜索
    
    showExport: true,        // 是否显示导出按钮, 导出功能需要导出插件支持(tableexport.min.js)
    exportDataType: "basic", // 导出数据类型, 'basic':当前页, 'all':所有数据, 'selected':选中的数据
  
    columns: [{
        field: 'example',
        checkbox: true    // 是否显示复选框
    }, {
        field: 'cid',
        title: 'ID',
        sortable: true    // 是否排序
    }, {
        field: 'username',
        title: '用户名'
    }, {
        field: 'nick_name',
        title: '昵称',
    },{
      field: 'sex',
      title: '性别',
    },{
        field: 'address',
        title: '收货地址'
    }, {
        field: 'telephone',
        title: '手机'
    }, {
        field: 'create_time',
        title: '创建时间'
    }, {
        field: 'is_delete',
        title: '注销状态',
        formatter:function(value, row, index){ 
			var value="";
			if (row.is_delete == '0') {
				value = '<span class="badge badge-success">正常</span>';
			} else if(row.is_delete == '1') {
				value = '<span class="badge badge-danger">注销</span>';
			}else {
				value = row.pType ;
			}
			return value;
		}
    },{
        field: 'lock',
        title: '锁定状态',
        formatter:function(value, row, index){
            var value="";
            if (row.lock == '0') {
                value = '<span class="badge badge-success">未锁定</span>';
            } else if(row.lock == '1') {
                value = '<span class="badge badge-danger">锁定</span>';
            }else {
                value = row.pType ;
            }
            return value;
        }
    },
        {
        field: 'operate',
        title: '操作',
        formatter: btnGroup,  // 自定义方法
        events: {
            'show.bs.modal': function (event, value, row, index) {
                editUser(event,row);
            },
            'click .del-btn': function (event, value, row, index) {
                delUser(row);
            }
        }
    }],
    onLoadSuccess: function(data){
        $("[data-toggle='tooltip']").tooltip();
    }
});

// 操作按钮
function btnGroup ()
{
    let html =
        '<a href="#!" class="btn btn-xs btn-default m-r-5 edit-btn" title="编辑" data-toggle="modal" data-target="#exampleModalChange" data-whatever="@mdo"><i class="mdi mdi-pencil"></i></a>' +
        '<a href="#!" class="btn btn-xs btn-default del-btn" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>';
    return html;
}

// 操作方法 - 编辑
function editUser(row)
{
 alert(row.cid);
}
// 操作方法 - 删除
function delUser(row)
{


    $.confirm({
        title: '确认删除客户',
        content: '是否确认删除？计时结束将自动取消。',
        autoClose: 'cancelAction|10000',
        escapeKey: 'cancelAction',
        buttons: {
            confirm: {
                btnClass: 'btn-red',
                text: '确认删除'+row.username,
                action: function () {
                    $.ajax({
                        url:"/consumer/move/"+row.cid,
                        type: 'get',
                        success:function () {  //data会接受服务器响应的值
                            console.info("请求成功!");
                            location.reload(true);      //这是刷新函数
                        } //响应成功后的回掉函数
                    });
                }
            },
            cancelAction: {
                text: '取消',
                action: function () {
                    $.alert('客户'+row.username+'刚刚得救了！');

                }
            }
        }
    })
}
</script>
<script type="text/javascript" src="/layui/layui.js"></script>
<script>
    //配置插件目录
    layui.config({
        base: './mods/'
        , version: '1.0'
    });
    //一般直接写在一个js文件中
    layui.use(['layer', 'form', 'layarea'], function () {
        var layer = layui.layer
            , form = layui.form
            , layarea = layui.layarea;

        let obj1 = layarea.render({
            elem: '#area-picker',
            change: function (res) {
                //选择结果
                console.log(res);
            }
        });
        layarea.render({
            elem: '#area-picker2',
            change: function (res) {
                //选择结果
                console.log(res);
            }
        });
        layarea.render({
            elem: '#area-picker3',
            change: function (res) {
                //选择结果
                console.log(res);
            }
        });
        layarea.render({
            elem: '#area-picker4',
            data: {
                province: "广东省",
                city: "深圳市",
                county: "龙岗区",
            },
            change: function (res) {
                //选择结果
                console.log(res);
            }
        });
/*
    //第一个重载
    setTimeout(() => {

        obj1.reload({
            data: {
                province: province,
                city: city,
                county: county,
            }
        });
        //console.log(ssss);
        province="";
        city="";
        county="";
        ssss="";
       //console.log(ssss);
        }, 3000);*/
});
</script>
</body>
</html>